<div class="container-fluid">
<div class='nav_item'>
    <%= link_to 'New Instructor', new_instructor_path, class: 'btn btn-success btn-small' %>
  </div>

   <h1>Show instructor</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
     
      <tr>
        <td><%= @instructor.name %></td>
        <td><%= @instructor.email %></td>
        <td><%# link_to 'Edit', edit_slot_path(@slot) %>
          <%= link_to edit_instructor_path(@instructor) do %>
              Edit <i class='icon-pencil'></i>
           <% end %>
        </td>         
      </tr>
    
  </tbody>
</table>
</div>