<div class="container-fluid">
<%= render 'shared/content_title', title:  "Thanks for reserving a seat at the COMM1000 and COMM1003 Final Exam"  %>

	<div class='well'>
		
		<p>You will receive an email confirmation. <%= link_to "Edit my reservation", edit_user_path(current_user) %> </p>
		
	</div>
</div>