<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>COMM1000 & COMM1003</h1>
   <p> <%=  @user.firstname  %> <%=  @user.lastname  %>, your seat is reserved for  <%= @user.slot.description %>. </p>
    <p>
    <p>This is a system generated email. If you have any questions, please email Jennifer Johnson at 
    <a href="mcculj1@auburn.edu">mcculj1@auburn.edu</a>.
</p>
<p>If you want to change your exam day/time slot, <a href="http://desolate-sea-8698.herokuapp.com/login">go to app and login</a>.</p>
  </body>
</html>
